<ion-header>
  <ion-toolbar>
    <img id="img_toolbar" src="../../assets/Tenedores.png" width="13%" />
    <ion-button id="btn_toolbar"
      ><ion-icon name="arrow-undo"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="contenedor">
    <ion-grid>
      <div class="titulo_form">
        <img src="../../assets/form.png" width="60" height="60" />
        <h2>Encuesta empleado</h2>
      </div>
      <form [formGroup]="formEncuesta" (ngSubmit)="enviarEncuesta()">
        <div class="pregunta py-1">
          <ion-row>
            <ion-col>
              <label>Ambiente laboral:</label>
            </ion-col>
            <ion-col>
              <ion-input type="number" class="input-1" formControlName="preguntaUno">
              </ion-input>
            </ion-col>
          </ion-row>
        </div>

        <div class="pregunta mt-1 pb-0">
          <ion-label>Orden de mesas y sillas:</ion-label>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label>1</ion-label>
                <ion-checkbox
                  (ionChange)="cambios($event, 1)"
                  id="check-1"
                ></ion-checkbox
              ></ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label>2</ion-label>
                <ion-checkbox
                  (ionChange)="cambios($event, 2)"
                  id="check-2"
                ></ion-checkbox
              ></ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label>3</ion-label>
                <ion-checkbox
                  (ionChange)="cambios($event, 3)"
                  id="check-3"
                ></ion-checkbox
              ></ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label>4</ion-label>
                <ion-checkbox
                  (ionChange)="cambios($event, 4)"
                  id="check-4"
                ></ion-checkbox
              ></ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label>5</ion-label>
                <ion-checkbox
                  (ionChange)="cambios($event, 5)"
                  id="check-5"
                ></ion-checkbox
              ></ion-item>
            </ion-col>
          </ion-row>
        </div>

        <div class="pregunta mt-1 py-0">
          <ion-row class="my-2">
            <ion-col>
              <ion-label>Limpieza de los pisos:</ion-label>
            </ion-col>
            <ion-col class="pb-1">
              <ion-select
                interface="popover"
                placeholder="Elija un puntaje"
                formControlName="preguntaTres"
              >
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </div>

        <div class="pregunta mt-1">
          <label>Estado de la cocina:</label>
          <ion-radio-group
            value="custom-checked"
            formControlName="preguntaCuatro"
          >
            <ion-row class="mt-2">
              <ion-col>
                <ion-label>1</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>2</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>3</ion-label>
                <ion-radio value="3"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>4</ion-label>
                <ion-radio value="4"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>5</ion-label>
                <ion-radio value="5"></ion-radio>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </div>

        <div class="pregunta mt-1 pb-0">
          <label>Estado de los baños:</label>
          <ion-row class="mt-4">
            <span>1</span>
            <ion-range
              [pin]="true"
              [ticks]="true"
              [snaps]="true"
              [min]="1"
              [max]="5"
              formControlName="preguntaCinco"
            ></ion-range>
            <span>5</span>
          </ion-row>
        </div>

        <ion-item class="foto">
          <ion-thumbnail slot="start">
            <ion-img
              [src]="srcUserPhoto"
              style="max-width: 100px; max-height: 100px"
            ></ion-img>
          </ion-thumbnail>
          <ion-button
            (click)="ImagenCelular()"
            style="--background: rgb(71, 18, 18)"
            ><ion-icon name="folder-outline"></ion-icon
          ></ion-button>
          <ion-button (click)="Foto()" style="--background: rgb(71, 18, 18)"
            ><ion-icon name="camera-outline"></ion-icon
          ></ion-button>
        </ion-item>

        <ion-button
          type="submit"
          class="mt-3"
          style="--background: rgb(15, 145, 58); height: 50px"
          [disabled]="!formEncuesta.valid || !fotoCargada"
          ><ion-icon name="checkmark-circle-outline"></ion-icon>Enviar encuesta</ion-button>
          <ion-button (click)="SaltarEncuesta()">Saltar encuesta</ion-button>
      </form>
    </ion-grid>
  </div>
</ion-content>

<div class="custom-loading" *ngIf="spinner">
  <div class="spinner">
    <div class="double-bounce1">
      <img src="../../assets/Logo.png" style="width: 200px" />
    </div>
    <div class="double-bounce2">
      <img src="../../assets/Logo.png" style="width: 200px" />
    </div>
  </div>
</div>
