<ion-header [translucent]="true">
	<ion-toolbar>
	  <img id="img_toolbar" src="../../assets/Tenedores.png" alt="" width="45">
	  <ion-button id="btn_toolbar"><ion-icon name="arrow-undo"></ion-icon></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
	  <div class="contenido">
		<div class="titulo_form">
		  <img src="../../assets/cliente.png" alt="" width="50" height="50">
		  <h2>Alta de Cliente</h2>
		</div>
		<ion-button *ngIf="esRegistrado" id="btn_anonimo" (click)="CambiarBotonTipoCliente()">¡Quiero ser Cliente Anónimo!</ion-button>
		<ion-button *ngIf="esAnonimo" id="btn_registrado" (click)="CambiarBotonTipoCliente()">¡Quiero ser Cliente Registrado!</ion-button>
		<form>
			<ion-input [value]="nombre" (input)="SetNombre($event.target.value)" placeholder="Nombre"></ion-input>
			<ion-input [value]="apellido" (input)="SetApellido($event.target.value)" placeholder="Apellido" *ngIf="esRegistrado"></ion-input>
			<ion-input [value]="dni" (input)="SetDNI($event.target.value)" placeholder="DNI" *ngIf="esRegistrado"></ion-input>
			<ion-input [value]="correo" (input)="SetCorreo($event.target.value)" placeholder="Correo"></ion-input>
		<ion-row>
			<ion-input id="input_pass" type="password" [value]="clave" (input)="SetClave($event.target.value)" placeholder="Clave"></ion-input>
			<ion-input id="input_confirm_pass" type="password" [value]="claveConfirmada" (input)="SetClaveConfirmada($event.target.value)" placeholder="Confirmar Clave"></ion-input>  
		  </ion-row>
		  <ion-item>
			<ion-thumbnail slot="start">
			  <ion-img [src]="srcUserPhoto" style="max-width: 100px; max-height: 100px;"></ion-img>
			</ion-thumbnail>
			  <ion-button style="--background: rgb(71, 18, 18);"><ion-icon name="camera-outline"></ion-icon></ion-button>
		  </ion-item>
		  <ion-button *ngIf="esRegistrado" style="--background: rgb(15, 145, 58); height: 50px;" (click)="GuardarUsuario()"><ion-icon name="checkmark-circle-outline"></ion-icon>Crear Cliente Registrado</ion-button>
		  <ion-button *ngIf="esAnonimo" style="--background: rgb(15, 145, 58); height: 50px;" (click)="GuardarUsuario()"><ion-icon name="checkmark-circle-outline"></ion-icon>Crear Cliente Anónimo</ion-button> 
		</form>
	  </div>
	</ion-grid>
	<ion-fab horizontal="end" vertical="bottom" >
	  <ion-fab-button size="large">
		<img src="../../assets/qr.png">
	  </ion-fab-button>
	</ion-fab>
</ion-content>

<div class="custom-loading" *ngIf="spinner">
	<div class="spinner">
		<div class="double-bounce1"><img src="../../assets/Logo.png" style="width: 200px;"></div>
		<div class="double-bounce2"><img src="../../assets/Logo.png" style="width: 200px;"></div>
	</div>
</div>
