<ion-header [translucent]="true">
	<ion-toolbar>
	  <img id="img_toolbar" src="../../assets/Tenedores.png" alt="" width="45">
	  <ion-button id="btn_toolbar" (click)="Volver()"><ion-icon name="arrow-undo"></ion-icon></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
	  <div class="contenido">

		<div class="titulo_form">
			<img src="../../assets/dessert.png" alt="" width="50" height="50">
			<h2>Alta de Producto</h2>
		</div>

		<form>
			<ion-select id="categoria" placeholder="Categoría" (ionChange)="SelectChange($event)" interface="popover">
				<ion-select-option value="0">Entradas</ion-select-option>
				<ion-select-option value="1">Promociones</ion-select-option>
				<ion-select-option value="2">Platos fríos</ion-select-option>
				<ion-select-option value="3">Platos calientes</ion-select-option>
				<ion-select-option value="4">Bebidas sin alcohol</ion-select-option>
				<ion-select-option value="5">Bebidas con alcohol</ion-select-option>
				<ion-select-option value="6">Postres y Café-Te</ion-select-option>
			</ion-select>

			<ion-input [value]="producto" (input)="SetProducto($event.target.value)" placeholder="Producto"></ion-input>
			<ion-input [value]="descripcion" (input)="SetDescripcion($event.target.value)" placeholder="Descripción"></ion-input>
			<ion-input id="elaboracion" [value]="elaboracion" (input)="SetElaboracion($event.target.value)" placeholder="Tiempo de elaboración (Minutos)" [disabled]="elab"></ion-input>
			
			<ion-row>
				<ion-input id="tamanio" [value]="tamanio" (input)="SetTamanio($event.target.value)" placeholder="Tamaño (ml o L)" [disabled]="bebida"></ion-input>
				<ion-input [value]="precio" (input)="SetPrecio($event.target.value)" placeholder="Precio ($)"></ion-input>
			</ion-row>
		
		  	<ion-item style="--min-height: 90px;">
				<ion-thumbnail slot="start" style="margin-top: -10px;">
					<ion-img [src]="srcProductPhoto[0]" style="max-width: 100px; max-height: 100px;"></ion-img>
					<ion-icon (click)="LimpiarFoto(0)" style="margin-left: 20px; margin-top: 5px;" name="trash-outline"></ion-icon>
				</ion-thumbnail>
				<ion-thumbnail slot="start" style="margin-top: -10px;">
					<ion-img [src]="srcProductPhoto[1]" style="max-width: 100px; max-height: 100px;"></ion-img>
					<ion-icon (click)="LimpiarFoto(1)" style="margin-left: 20px; margin-top: 5px;" name="trash-outline"></ion-icon>
				</ion-thumbnail>
				<ion-thumbnail slot="start" style="margin-top: -10px;">
					<ion-img [src]="srcProductPhoto[2]" style="max-width: 100px; max-height: 100px;"></ion-img>
					<ion-icon (click)="LimpiarFoto(2)" style="margin-left: 20px; margin-top: 5px;" name="trash-outline"></ion-icon>
				</ion-thumbnail>
				<ion-button (click)="Fotos()" style="--background: rgb(71, 18, 18);" [disabled]="fotosLleno"><ion-icon name="camera-outline"></ion-icon></ion-button>
			</ion-item>
		  <ion-button style="--background: rgb(15, 145, 58); height: 50px;" (click)="AgregarProducto()"><ion-icon name="checkmark-circle-outline"></ion-icon>AGREGAR PRODUCTO</ion-button> 
		</form>
	  </div>
	</ion-grid>

  <input hidden id="inputFiles" class="custom-file-input" type="file" (change)="Cargar($event)" multiple="multiple">
</ion-content>

<div class="custom-loading" *ngIf="spinner">
	<div class="spinner">
		<div class="double-bounce1"><img src="../../assets/Logo.png" style="width: 200px;"></div>
		<div class="double-bounce2"><img src="../../assets/Logo.png" style="width: 200px;"></div>
	</div>
</div>


<!--qrcode *ngIf="mostrarQr" (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="128" [errorCorrectionLevel]="'M'"></qrcode-->