<ion-header [translucent]="true">
	<ion-toolbar>
	  <img id="img_toolbar" src="../../assets/Tenedores.png" alt="" width="45">
	  <ion-button id="btn_toolbar"><ion-icon name="arrow-undo"></ion-icon></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
	  <div class="contenido">
		<div class="titulo_form">
		  <img src="../../assets/employee.png" alt="" width="50" height="50">
		  <h2>Alta de Empleado</h2>
		</div>
    <form>
      <ion-row>
        <ion-input id="input_pass" [value]="nombre" (input)="SetNombre($event.target.value)" placeholder="Nombre"></ion-input>
        <ion-input id="input_confirm_pass" [value]="apellido" (input)="SetApellido($event.target.value)" placeholder="Apellido"></ion-input>     
      </ion-row>
      <ion-row>
        <ion-input id="input_pass" [value]="dni" (input)="SetDNI($event.target.value)" placeholder="DNI"></ion-input>
        <ion-input id="input_confirm_pass" [value]="dni" (input)="SetDNI($event.target.value)" placeholder="CUIL"></ion-input>
      </ion-row>
      <ion-select placeholder="Tipo de Empleado" (ionChange)="MostrarMes($event)" interface="popover">
        <ion-select-option value="Bartender">Bartender</ion-select-option>
        <ion-select-option value="Cocinero">Cocinero</ion-select-option>
        <ion-select-option value="Metre">Metre</ion-select-option>
        <ion-select-option value="Mozo">Mozo</ion-select-option>
      </ion-select>
			<ion-input [value]="correo" (input)="SetCorreo($event.target.value)" placeholder="Correo"></ion-input>
			<ion-row>
				<ion-input id="input_pass" type="password" [value]="clave" (input)="SetClave($event.target.value)" placeholder="Clave"></ion-input>
				<ion-input id="input_confirm_pass" type="password" [value]="claveConfirmada" (input)="SetClaveConfirmada($event.target.value)" placeholder="Confirmar Clave"></ion-input>  
		  </ion-row>
		  	<ion-item>
				<ion-thumbnail slot="start">
			  		<ion-img [src]="srcUserPhoto" style="max-width: 100px; max-height: 100px;"></ion-img>
				</ion-thumbnail>
			  	<ion-button style="--background: rgb(71, 18, 18);" (click)="this.Crear()"><ion-icon name="camera-outline"></ion-icon></ion-button>
		  </ion-item>
		  <ion-button style="--background: rgb(15, 145, 58); height: 50px;" (click)="this.Crear()"><ion-icon name="checkmark-circle-outline"></ion-icon>Crear Empleado</ion-button> 
		</form>
	  </div>
	</ion-grid>
	<ion-fab horizontal="end" vertical="bottom" >
	  <ion-fab-button size="large">
		<img src="../../assets/qr.png">
	  </ion-fab-button>
	</ion-fab>
</ion-content>

<div class="custom-loading" *ngIf="spinner">
	<div class="spinner">
		<div class="double-bounce1"><img src="../../assets/Logo.png" style="width: 200px;"></div>
		<div class="double-bounce2"><img src="../../assets/Logo.png" style="width: 200px;"></div>
	</div>
</div>
