<ion-header [translucent]="true">
	<ion-toolbar>
		<img id="img_toolbar" src="../../assets/Tenedores.png" alt="" width="45">
		<ion-button id="btn_toolbar" (click)="Volver()"><ion-icon name="arrow-undo"></ion-icon></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<div class="contenido">
			<img src="../../assets/cliente.png" alt="" width="50" height="50">
			<h2>Clientes en Espera</h2>

      <div *ngIf="hayEnEspera">
        <div *ngFor="let c of listado">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img [src]="c.foto" style="border: 1px solid white; --border-radius: 4px; width: 60px !important; height: 60px !important;"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{c.nombre}} {{c.apellido}}</h2>
              <p>Ingreso: {{c.fecha}} {{c.hora}}</p>
              <p>Comensales: {{c.cantPersonas}}</p>
              <ion-button style="--background: rgb(27, 27, 27);" (click)="setOpen(c.cantPersonas, c.idField)">Asignar Mesa</ion-button>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div *ngIf="!hayEnEspera">
        <h2 style="margin-top: 50px; font-size: 40px;">No hay clientes en espera</h2>
      </div>

    </div>
	</ion-grid>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <img id="img_toolbar" src="../../assets/Tenedores.png" alt="" width="45">
          <ion-button id="btn_toolbar" (click)="setOpen(false)"><ion-icon name="arrow-undo"></ion-icon></ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="contenido">
          <div class="encabezado">
            <img src="../../assets/comensales.png" alt="" width="20" style="margin-bottom: 7px;">
            {{cantidadComensales}} 
            <img src="../../assets/silla.png" alt="" width="20" style="margin-bottom: 10px;">
            {{cantidadSeleccionada}}
            <ion-button style="--background: rgb(82, 27, 145); height: 30px;">Aceptar</ion-button>
            <ion-button style="--background: rgb(82, 27, 145); height: 30px;">Cancelar</ion-button>
          </div>
          <div *ngFor="let m of mesas">
            <ion-item>
              <ion-avatar slot="start">
                <ion-img [src]="m.foto" style="border: 1px solid white; --border-radius: 4px; width: 60px !important; height: 60px !important;"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Mesa {{m.numMesa}}</h2>
                <p>Capacidad: {{m.capacidad}}</p>
                <ion-button style="--background: rgb(27, 27, 27);" (click)="SeleccionarMesa()">Seleccionar Mesa</ion-button>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<div class="custom-loading" *ngIf="spinner">
	<div class="spinner">
		<div class="double-bounce1"><img src="../../assets/Logo.png" style="width: 200px;"></div>
		<div class="double-bounce2"><img src="../../assets/Logo.png" style="width: 200px;"></div>
	</div>
</div>
